body {
font-family: Arial, sans-serif;
text-align: center;
padding: 40px;
background-color :rgb(195, 243, 5);
}
.container {
background:rgb(125, 0, 0);
padding: 30px;
border-radius: 12px;
max-width: 400px;
margin: auto;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
color: #07eded;
}


#contador {
font-size: 40px;
font-weight: bold;
margin: 20px 0;
}
button {
padding: 10px 16px;
margin: 5px;
font-size: 16px;
cursor: pointer;
}